In [2]:
import pandas as pd
import requests

In [64]:
missions_df = pd.read_csv('../datasets/weather_data.csv')
locations_df = pd.read_csv('../datasets/coordinates.csv')

In [4]:
missions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0.1    4324 non-null   int64
 1   Unnamed: 0      4324 non-null   int64
 2   Organisation    4324 non-null   object
 3   Location        4324 non-null   object
 4   Date            4324 non-null   object
 5   Detail          4324 non-null   object
 6   Rocket_Status   4324 non-null   object
 7   Price           964 non-null    object
 8   Mission_Status  4324 non-null   object
dtypes: int64(2), object(7)
memory usage: 304.2+ KB

In [12]:
locations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Location   137 non-null    object
 1   Latitude   137 non-null    float64
 2   Longitude  137 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.3+ KB

In [56]:
countries_df = pd.read_csv('../datasets/country.csv')

In [6]:
missions_df.head()

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

In [14]:
countries_df[countries_df['value'] == "United Kingdom"]

     id           value
236  GB  United Kingdom

In [90]:
missions_df['Country'] = missions_df['Location'].apply(lambda x: x.split(',')[-1].strip())

In [91]:
missions_df['Country'] = missions_df['Country'].replace('USA', 'United States')
missions_df['Country'] = missions_df['Country'].replace('New Mexico', 'United States')
missions_df['Country'] = missions_df['Country'].replace('Pacific Missile Range Facility', 'United States')
missions_df['Country'] = missions_df['Country'].replace('Pacific Ocean', 'United States')
missions_df['Country'] = missions_df['Country'].replace('Pacific Ocean', 'United States')
missions_df['Country'] = missions_df['Country'].replace('Barents Sea', 'Russia')
missions_df['Country'] = missions_df['Country'].replace('Gran Canaria', 'Spain')
missions_df['Country'] = missions_df['Country'].replace('Shahrud Missile Test Site', 'Iran')
missions_df['Country'] = missions_df['Country'].replace('Yellow Sea', 'China')

In [17]:
missions_df['Country'].unique()

array(['United States', 'China', 'Kazakhstan', 'Japan', 'Israel',
       'New Zealand', 'Russia', 'Iran', 'France', 'India', 'North Korea',
       'South Korea', 'Brazil', 'Spain', 'Kenya', 'Australia'],
      dtype=object)

In [18]:
print(missions_df[missions_df['Country'] == 'Yellow Sea'])

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, Organisation, Location, Date, Detail, Rocket_Status, Price, Mission_Status, Country]
Index: []

In [58]:
missions_df['Organisation'].unique()

array(['SpaceX', 'CASC', 'Roscosmos', 'ULA', 'JAXA', 'Northrop', 'ExPace',
       'IAI', 'Rocket Lab', 'Virgin Orbit', 'VKS RF', 'MHI', 'IRGC',
       'Arianespace', 'ISA', 'Blue Origin', 'ISRO', 'Exos', 'ILS',
       'i-Space', 'OneSpace', 'Landspace', 'Eurockot', 'Land Launch',
       'CASIC', 'KCST', 'Sandia', 'Kosmotras', 'Khrunichev', 'Sea Launch',
       'KARI', 'ESA', 'NASA', 'Boeing', 'ISAS', 'SRC', 'MITT', 'Lockheed',
       'AEB', 'Starsem', 'RVSN USSR', 'EER', 'General Dynamics',
       'Martin Marietta', 'Yuzhmash', 'Douglas', 'ASI', 'US Air Force',
       'CNES', 'CECLES', 'RAE', 'UT', 'OKB-586', 'AMBA',
       "Arm??e de l'Air", 'US Navy'], dtype=object)

In [66]:
private_companies = ['SpaceX', 'ULA', 'Northrop', 'Rocket Lab', 'Virgin Orbit', 
                     'Blue Origin', 'Exos', 'ILS', 'i-Space', 'OneSpace', 
                     'Landspace', 'Boeing', 'Lockheed', 'General Dynamics', 
                     'Martin Marietta', 'Douglas']

# Add 'is_private' column to indicate if the company is private
missions_df['is_private'] = missions_df['Organisation'].apply(lambda x: True if x in private_companies else False)

In [61]:
missions_df

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status,Country,is_private
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,United States,True
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,China,False
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,United States,True
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,Kazakhstan,False
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success,United States,True
...,...,...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,United States,False
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success,United States,False
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,United States,False
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success,Kazakhstan,False
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success,Kazakhstan,False

In [19]:
conflicts_df = pd.read_csv('../datasets/UcdpPrioConflict_v24_1.csv')

In [20]:
conflicts_df.columns

Index(['conflict_id', 'location', 'side_a', 'side_a_id', 'side_a_2nd',
       'side_b', 'side_b_id', 'side_b_2nd', 'incompatibility',
       'territory_name', 'year', 'intensity_level', 'cumulative_intensity',
       'type_of_conflict', 'start_date', 'start_prec', 'start_date2',
       'start_prec2', 'ep_end', 'ep_end_date', 'ep_end_prec', 'gwno_a',
       'gwno_a_2nd', 'gwno_b', 'gwno_b_2nd', 'gwno_loc', 'region', 'version'],
      dtype='object')

In [57]:
countries_df.rename(columns={'id':'country_id', 'value': 'country'}, inplace=True)

In [59]:
countries_df['country_id'] = range(1, len(countries_df) + 1)

In [62]:
countries_df.to_csv('../datasets/staging/dim_countries.csv', index=False)

In [67]:
missions_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Organisation', 'Location', 'Date',
       'Detail', 'Rocket_Status', 'Price', 'Mission_Status', 'Latitude',
       'Longitude', 'Humidity', 'Temperature', 'Wind_Speed', 'is_private'],
      dtype='object')

In [73]:
missions_df['Organisation'].unique().size

56

In [76]:

# Step 1: Create a copy of the original DataFrame
df_copy = missions_df.copy()

# Step 2: Extract unique organisations from the copy
dim_organisations = df_copy[['Organisation', 'is_private']].drop_duplicates()

# Step 3: Add an organisation_id
dim_organisations.reset_index(drop=True, inplace=True)
dim_organisations['organisation_id'] = dim_organisations.index + 1

# Reorder columns to have 'organisation_id' first
dim_organisations = dim_organisations[['organisation_id', 'Organisation', 'is_private']]

dim_organisations.rename(columns={'Organisation':'organisation', 'is_private':'isprivate'}, inplace=True)
# Print the new DataFrame
print(dim_organisations)

    organisation_id      organisation  isprivate
0                 1            SpaceX       True
1                 2              CASC      False
2                 3         Roscosmos      False
3                 4               ULA       True
4                 5              JAXA      False
5                 6          Northrop       True
6                 7            ExPace      False
7                 8               IAI      False
8                 9        Rocket Lab       True
9                10      Virgin Orbit       True
10               11            VKS RF      False
11               12               MHI      False
12               13              IRGC      False
13               14       Arianespace      False
14               15               ISA      False
15               16       Blue Origin       True
16               17              ISRO      False
17               18              Exos       True
18               19               ILS       True
19               20           i-Space       True
20               21          OneSpace       True
21               22         Landspace       True
22               23          Eurockot      False
23               24       Land Launch      False
24               25             CASIC      False
25               26              KCST      False
26               27            Sandia      False
27               28         Kosmotras      False
28               29        Khrunichev      False
29               30        Sea Launch      False
30               31              KARI      False
31               32               ESA      False
32               33              NASA      False
33               34            Boeing       True
34               35              ISAS      False
35               36               SRC      False
36               37              MITT      False
37               38          Lockheed       True
38               39               AEB      False
39               40           Starsem      False
40               41         RVSN USSR      False
41               42               EER      False
42               43  General Dynamics       True
43               44   Martin Marietta       True
44               45          Yuzhmash      False
45               46           Douglas       True
46               47               ASI      False
47               48      US Air Force      False
48               49              CNES      False
49               50            CECLES      False
50               51               RAE      False
51               52                UT      False
52               53           OKB-586      False
53               54              AMBA      False
54               55   Arm??e de l'Air      False
55               56           US Navy      False

In [78]:
dim_organisations.to_csv('../datasets/staging/dim_organisations.csv', index=False)

In [96]:
conflicts_df['location'].unique()

array(['India', 'Egypt, Israel', 'Sudan', 'South Sudan', 'Libya', 'Mali',
       'South Sudan, Sudan', 'China', 'Bangladesh', 'Ethiopia',
       'Myanmar (Burma)', 'Malaysia', 'Hyderabad', 'Syria', 'Ukraine',
       'Russia (Soviet Union), Ukraine', 'Kyrgyzstan, Tajikistan',
       'Russia (Soviet Union)', 'Afghanistan', 'Cameroon', 'Niger',
       'Chad', 'Nigeria', 'Yemen (North Yemen)', 'Kenya', 'Egypt',
       'Lebanon', 'Afghanistan, United Kingdom, United States of America',
       'Algeria', 'Burkina Faso', 'Jordan', 'Turkey', 'Pakistan',
       'Somalia', 'Iran', 'Philippines', 'Tunisia', 'Iran, Israel',
       'DR Congo (Zaire)', 'Mozambique', 'Tanzania', 'Benin',
       'Central African Republic', 'Uganda', 'Bolivia',
       'Cambodia (Kampuchea)', 'Greece', 'Indonesia', 'Israel', 'Laos',
       'France, Thailand', 'Albania, United Kingdom',
       'Vietnam (North Vietnam)', 'India, Pakistan',
       'Madagascar (Malagasy)', 'Paraguay', 'Costa Rica',
       'Hyderabad, India', 'Egypt, Iraq, Israel, Jordan, Lebanon, Syria',
       'China, Taiwan', 'Guatemala', 'North Korea, South Korea',
       'United States of America', 'Egypt, United Kingdom', 'Thailand',
       'Cuba', 'Morocco', 'Argentina', 'Cyprus', 'South Vietnam',
       'Hungary, Russia (Soviet Union)',
       'Egypt, France, Israel, United Kingdom', 'Honduras, Nicaragua',
       'Mauritania, Morocco', 'Oman', 'Iraq', 'Angola',
       'Ethiopia, Somalia', 'Nepal', 'France', 'France, Tunisia',
       'Brunei', 'China, India', 'Indonesia, Netherlands', 'Venezuela',
       'Algeria, Morocco', 'Guinea-Bissau', 'Indonesia, Malaysia',
       'Gabon', 'South Yemen', 'Burundi', 'Colombia',
       'Dominican Republic', 'Peru',
       'South Vietnam, Vietnam (North Vietnam)',
       'Cambodia (Kampuchea), Thailand', 'Ghana', 'South Africa',
       'Israel, Jordan', 'Israel, Syria', 'China, Myanmar (Burma)',
       'China, Russia (Soviet Union)', 'El Salvador, Honduras', 'Guinea',
       'Sri Lanka', 'United Kingdom', 'El Salvador',
       'Zimbabwe (Rhodesia)', 'Uruguay',
       'South Yemen, Yemen (North Yemen)', 'Chile', 'Cyprus, Turkey',
       'Iran, Iraq', 'Eritrea',
       'Cambodia (Kampuchea), Vietnam (North Vietnam)',
       'China, Vietnam (North Vietnam)', 'Nicaragua', 'Saudi Arabia',
       'Liberia', 'Spain', 'Gambia', 'Argentina, United Kingdom',
       'Chad, Nigeria', 'Grenada, United States of America',
       'Burkina Faso, Mali', 'Laos, Thailand', 'Suriname', 'Togo',
       'Chad, Libya', 'Comoros', 'Panama',
       'Panama, United States of America', 'Papua New Guinea', 'Romania',
       'Iraq, Kuwait', 'Rwanda', 'Senegal', 'Trinidad and Tobago',
       'Djibouti', 'Georgia', 'Haiti', 'Sierra Leone',
       'Serbia (Yugoslavia)', 'Azerbaijan', 'Bosnia-Herzegovina',
       'Croatia', 'Moldova', 'Tajikistan', 'Mexico', 'Ecuador, Peru',
       'Cameroon, Nigeria', 'Congo', 'Eritrea, Ethiopia', 'Lesotho',
       'Uzbekistan', 'North Macedonia', 'Ivory Coast',
       'Australia, Iraq, United Kingdom, United States of America',
       'Tanzania, Uganda', 'Mauritania',
       'Afghanistan, Russia (Soviet Union)', 'Djibouti, Eritrea'],
      dtype=object)

In [97]:
countries_df['country']

0          Afghanistan
1        Åland Islands
2              Albania
3              Algeria
4       American Samoa
            ...
244    Wallis & Futuna
245     Western Sahara
246              Yemen
247             Zambia
248           Zimbabwe
Name: country, Length: 249, dtype: object

In [99]:
conflicts_df['location'] = conflicts_df['location'].apply(lambda x: x.split(',')[0] if ',' in x else x)

In [114]:
# Dictionary to map locations to the corresponding country names
location_replacements = {
    'Hyderabad': 'India',
    'Russia (Soviet Union)': 'Russia',
    'Yemen (North Yemen)': 'Yemen',
    'DR Congo': 'Congo - Brazzaville',
    'Cambodia (Kampuchea)': 'Cambodia',
    'Vietnam (North Vietnam)': 'Vietnam',
    'Madagascar (Malagasy)': 'Madagascar',
    'United States of America': 'United States',
    'South Vietnam': 'Vietnam',
    'South Yemen': 'Yemen',
    'Zimbabwe (Rhodesia)': 'Zimbabwe',
    'Trinidad and Tobago': 'Trinidad & Tobago',
    'Serbia (Yugoslavia)': 'Serbia',
    'Bosnia and Herzegovina': 'Bosnia & Herzegovina',
    'Congo': 'Congo - Brazzaville',
    "Côte d’Ivoire": "Côte d’Ivoire"
}

# Replace the locations with the country names using the dictionary
conflicts_df['location'] = conflicts_df['location'].replace(location_replacements)

# Display the updated DataFrame
print(conflicts_df['location'])

0                 India
1                 India
2                 Egypt
3                 Egypt
4                 Egypt
             ...
2681    Myanmar (Burma)
2682    Myanmar (Burma)
2683    Myanmar (Burma)
2684    Myanmar (Burma)
2685         Mauritania
Name: location, Length: 2686, dtype: object

In [115]:
# Find the values in conflicts_df['location'] that are not in countries_df['country']
locations_not_in_countries = conflicts_df[~conflicts_df['location'].isin(countries_df['country'])]

# To display only the unique values
unique_locations_not_in_countries = locations_not_in_countries['location'].unique()

# Print the result
print(unique_locations_not_in_countries)

["Côte d'Ivoire"]

In [94]:
missions_df['Country'].unique()

array(['United States', 'China', 'Kazakhstan', 'Japan', 'Israel',
       'New Zealand', 'Russia', 'Iran', 'France', 'India', 'North Korea',
       'South Korea', 'Brazil', 'Spain', 'Kenya', 'Australia'],
      dtype=object)

In [116]:
# Merge conflicts_df with countries_df based on matching locations and country names
merged_df = conflicts_df.merge(countries_df[['country_id', 'country']], 
                               left_on='location', right_on='country', 
                               how='left')

# Replace the 'location' column with 'country_id'
conflicts_df['location'] = merged_df['country_id']

# Display the updated conflicts_df
print(conflicts_df)

      conflict_id  location                         side_a side_a_id  \
0           11342     104.0            Government of India       141
1           11342     104.0            Government of India       141
2           11343      67.0            Government of Egypt       117
3           11343      67.0            Government of Egypt       117
4           11343      67.0            Government of Egypt       117
...           ...       ...                            ...       ...
2681          440     151.0  Government of Myanmar (Burma)       144
2682          440     151.0  Government of Myanmar (Burma)       144
2683          440     151.0  Government of Myanmar (Burma)       144
2684          440     151.0  Government of Myanmar (Burma)       144
2685          442     139.0       Government of Mauritania        74

                side_a_2nd                side_b side_b_id side_b_2nd  \
0                      NaN                  GNLA      1163        NaN
1                      NaN                  GNLA      1163        NaN
2                      NaN  Government of Israel       121        NaN
3                      NaN  Government of Israel       121        NaN
4                      NaN  Government of Israel       121        NaN
...                    ...                   ...       ...        ...
2681                   NaN                  LNUP       889        NaN
2682                   NaN                  LNUP       889        NaN
2683                   NaN                  LNUP       889        NaN
2684                   NaN                  LNUP       889        NaN
2685  Government of France                  AQIM       539        NaN

      incompatibility territory_name  ...  ep_end  ep_end_date  ep_end_prec  \
0                   1       Garoland  ...       1   2012-12-21          NaN
1                   1       Garoland  ...       1   2014-11-27          NaN
2                   1     Suez/Sinai  ...       1   1967-06-10          NaN
3                   1     Suez/Sinai  ...       0          NaN          NaN
4                   1     Suez/Sinai  ...       1   1970-08-07          NaN
...               ...            ...  ...     ...          ...          ...
2681                1           Lahu  ...       0          NaN          NaN
2682                1           Lahu  ...       0          NaN          NaN
2683                1           Lahu  ...       0          NaN          NaN
2684                1           Lahu  ...       1   1982-12-31          NaN
2685                2            NaN  ...       1   2010-09-18          NaN

      gwno_a gwno_a_2nd  gwno_b gwno_b_2nd  gwno_loc  region version
0        750        NaN     NaN        NaN       750       3    24.1
1        750        NaN     NaN        NaN       750       3    24.1
2        651        NaN     666        NaN  651, 666       2    24.1
3        651        NaN     666        NaN  651, 666       2    24.1
4        651        NaN     666        NaN  651, 666       2    24.1
...      ...        ...     ...        ...       ...     ...     ...
2681     775        NaN     NaN        NaN       775       3    24.1
2682     775        NaN     NaN        NaN       775       3    24.1
2683     775        NaN     NaN        NaN       775       3    24.1
2684     775        NaN     NaN        NaN       775       3    24.1
2685     435        220     NaN        NaN       435       4    24.1

[2686 rows x 28 columns]

In [126]:
fact_conflicts = merged_df[['country_id', 'intensity_level', 'side_a', 'side_b', 'year']]

In [132]:
fact_conflicts

,country_id,intensity_level,side_a,side_b,year,conflict_id
0,104,1,Government of India,GNLA,2012,0
1,104,1,Government of India,GNLA,2014,1
2,67,2,Government of Egypt,Government of Israel,1967,2
3,67,1,Government of Egypt,Government of Israel,1969,3
4,67,1,Government of Egypt,Government of Israel,1970,4
...,...,...,...,...,...,...
2681,151,1,Government of Myanmar (Burma),LNUP,1979,2681
2682,151,1,Government of Myanmar (Burma),LNUP,1980,2682
2683,151,1,Government of Myanmar (Burma),LNUP,1981,2683
2684,151,1,Government of Myanmar (Burma),LNUP,1982,2684
2685,139,1,Government of Mauritania,AQIM,2010,2685

In [128]:
fact_conflicts['country_id'] = fact_conflicts['country_id'].astype('Int64')

/var/folders/d2/zqv2mpg17tzb0413h3b_jwb00000gn/T/ipykernel_26525/1788589039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_conflicts['country_id'] = fact_conflicts['country_id'].astype('Int64')

In [131]:
# Add 'conflict_id' column starting from 0
fact_conflicts['conflict_id'] = range(len(fact_conflicts))

/var/folders/d2/zqv2mpg17tzb0413h3b_jwb00000gn/T/ipykernel_26525/1772015938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_conflicts['conflict_id'] = range(len(fact_conflicts))

In [176]:
fact_conflicts.columns

Index(['country_id', 'intensity_level', 'side_a', 'side_b', 'year',
       'conflict_id'],
      dtype='object')

In [134]:
fact_conflicts.to_csv('../datasets/staging/fact_conflicts.csv', index=False)

In [135]:
missions_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Organisation', 'Location', 'Date',
       'Detail', 'Rocket_Status', 'Price', 'Mission_Status', 'Latitude',
       'Longitude', 'Humidity', 'Temperature', 'Wind_Speed', 'is_private',
       'Country'],
      dtype='object')

In [137]:
# Drop duplicate locations to get unique values
unique_locations_df = missions_df[['Location', 'Latitude', 'Longitude', 'Country']].drop_duplicates()

# Create a new column 'location_id' starting from 9
unique_locations_df['location_id'] = range(len(unique_locations_df))

# Rename columns if necessary (optional)
unique_locations_df = unique_locations_df.rename(columns={
    'Location': 'location',
    'Latitude': 'latitude',
    'Longitude': 'longitude',
    'Country': 'country'
})

# Create the new DataFrame locations_df
locations_df = unique_locations_df.reset_index(drop=True)

In [140]:
locations_df

,location,latitude,longitude,location_id,country_id
0,"LC-39A, Kennedy Space Center, Florida, USA",30.919409,-87.314059,0,238
1,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",35.000000,105.000000,1,47
2,"Pad A, Boca Chica, Texas, USA",30.056755,-94.098334,2,238
3,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",46.000000,63.250000,3,116
4,"SLC-41, Cape Canaveral AFS, Florida, USA",28.394020,-80.603151,4,238
...,...,...,...,...,...
132,"LC-5, Cape Canaveral AFS, Florida, USA",28.403276,-80.599030,132,238
133,"LC-18A, Cape Canaveral AFS, Florida, USA",28.394020,-80.603151,133,238
134,"LC-11, Cape Canaveral AFS, Florida, USA",28.403276,-80.599030,134,238
135,"Douglas F4D Skyray, Naval Air Station Point Mu...",35.138238,-118.005406,135,238
136,"LC-26A, Cape Canaveral AFS, Florida, USA",28.394020,-80.603151,136,238

In [139]:
# Assume countries_df and locations_df are already defined

# Merge locations_df with countries_df to get country_id
locations_df = locations_df.merge(countries_df[['country', 'country_id']], 
                                   left_on='country', 
                                   right_on='country', 
                                   how='left')

# Drop the old 'country' column
locations_df = locations_df.drop(columns='country')

# Rename 'country_id' to 'country_id' (if needed)
locations_df = locations_df.rename(columns={'country_id': 'country_id'})

# Display the updated DataFrame
print(locations_df)

                                              location   latitude   longitude  \
0           LC-39A, Kennedy Space Center, Florida, USA  30.919409  -87.314059
1    Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...  35.000000  105.000000
2                        Pad A, Boca Chica, Texas, USA  30.056755  -94.098334
3         Site 200/39, Baikonur Cosmodrome, Kazakhstan  46.000000   63.250000
4             SLC-41, Cape Canaveral AFS, Florida, USA  28.394020  -80.603151
..                                                 ...        ...         ...
132             LC-5, Cape Canaveral AFS, Florida, USA  28.403276  -80.599030
133           LC-18A, Cape Canaveral AFS, Florida, USA  28.394020  -80.603151
134            LC-11, Cape Canaveral AFS, Florida, USA  28.403276  -80.599030
135  Douglas F4D Skyray, Naval Air Station Point Mu...  35.138238 -118.005406
136           LC-26A, Cape Canaveral AFS, Florida, USA  28.394020  -80.603151

     location_id  country_id
0              0         238
1              1          47
2              2         238
3              3         116
4              4         238
..           ...         ...
132          132         238
133          133         238
134          134         238
135          135         238
136          136         238

[137 rows x 5 columns]

In [175]:
locations_df.columns

Index(['location', 'latitude', 'longitude', 'location_id', 'country_id'], dtype='object')

In [141]:
locations_df.to_csv('../datasets/staging/dim_locations.csv', index=False)

In [153]:
missions_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Organisation', 'Location', 'Date',
       'Detail', 'Rocket_Status', 'Price', 'Mission_Status', 'Latitude',
       'Longitude', 'Humidity', 'Temperature', 'Wind_Speed', 'is_private',
       'Country'],
      dtype='object')

In [154]:
fact_launches = missions_df[['Unnamed: 0.1', 'Organisation', 'Location', 'Date', 'Detail', 'Rocket_Status', 'Price', 'Mission_Status', 'Wind_Speed', 'Humidity', 'Temperature']]

In [155]:
fact_launches.rename(columns = {'Unnamed: 0.1': 'id', 'Organisation': 'organisation', 'Location': 'location', 'Date': 'date', 'Detail': 'detail', 'Rocket_status': 'rocket_status', 'Price': 'price', 'Mission_Status': 'mission_status', 'Wind_Speed':'wind_speed', 'Humidity': 'humidity', 'Temperature':'temperature'}, inplace=True)

/var/folders/d2/zqv2mpg17tzb0413h3b_jwb00000gn/T/ipykernel_26525/4274283767.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_launches.rename(columns = {'Unnamed: 0.1': 'id', 'Organisation': 'organisation', 'Location': 'location', 'Date': 'date', 'Detail': 'detail', 'Rocket_status': 'rocket_status', 'Price': 'price', 'Mission_Status': 'mission_status', 'Wind_Speed':'wind_speed', 'Humidity': 'humidity', 'Temperature':'temperature'}, inplace=True)

In [158]:

# Convert 'date' column to datetime type
fact_launches['date'] = pd.to_datetime(fact_launches['date'], errors='coerce')

# Display the updated DataFrame to verify the change
print(fact_launches['date'])

0      2020-08-07 05:12:00+00:00
1      2020-08-06 04:01:00+00:00
2      2020-08-04 23:57:00+00:00
3      2020-07-30 21:25:00+00:00
4      2020-07-30 11:50:00+00:00
                  ...
4319   1958-02-05 07:33:00+00:00
4320   1958-02-01 03:48:00+00:00
4321   1957-12-06 16:44:00+00:00
4322   1957-11-03 02:30:00+00:00
4323   1957-10-04 19:28:00+00:00
Name: date, Length: 4324, dtype: datetime64[ns, UTC]

/var/folders/d2/zqv2mpg17tzb0413h3b_jwb00000gn/T/ipykernel_26525/3681696835.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fact_launches['date'] = pd.to_datetime(fact_launches['date'], errors='coerce')

In [159]:
fact_launches['date']

0      2020-08-07 05:12:00+00:00
1      2020-08-06 04:01:00+00:00
2      2020-08-04 23:57:00+00:00
3      2020-07-30 21:25:00+00:00
4      2020-07-30 11:50:00+00:00
                  ...
4319   1958-02-05 07:33:00+00:00
4320   1958-02-01 03:48:00+00:00
4321   1957-12-06 16:44:00+00:00
4322   1957-11-03 02:30:00+00:00
4323   1957-10-04 19:28:00+00:00
Name: date, Length: 4324, dtype: datetime64[ns, UTC]

In [160]:
fact_launches

,id,organisation,location,date,detail,Rocket_Status,price,mission_status,wind_speed,humidity,temperature
0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,5.339230,75.453623,5.100208
1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00+00:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,8.359459,51.011737,5.465863
2,2,SpaceX,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,11.747984,56.750579,20.548311
3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00+00:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,13.004083,69.049767,-1.343192
4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success,5.587707,60.585629,18.021336
...,...,...,...,...,...,...,...,...,...,...,...
4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,3.896399,80.668659,-2.862270
4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success,9.381440,62.834290,29.152743
4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,3.741047,68.667009,6.638781
4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00+00:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success,9.450476,60.649007,-7.940128
4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04 19:28:00+00:00,Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success,10.642372,51.687880,4.763349

In [165]:
fact_launches = fact_launches.merge(dim_organisations, left_on='organisation', right_on='organisation', how='left')

In [167]:
fact_launches.drop(columns= ['organisation', 'isprivate'], inplace= True)

In [169]:
fact_launches = fact_launches.merge(locations_df, on='location', how='left')

In [170]:
fact_launches

,id,location,date,detail,Rocket_Status,price,mission_status,wind_speed,humidity,temperature,organisation_id,latitude,longitude,location_id,country_id
0,0,"LC-39A, Kennedy Space Center, Florida, USA",2020-08-07 05:12:00+00:00,Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,5.339230,75.453623,5.100208,1,30.919409,-87.314059,0,238
1,1,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",2020-08-06 04:01:00+00:00,Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,8.359459,51.011737,5.465863,2,35.000000,105.000000,1,47
2,2,"Pad A, Boca Chica, Texas, USA",2020-08-04 23:57:00+00:00,Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,11.747984,56.750579,20.548311,1,30.056755,-94.098334,2,238
3,3,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",2020-07-30 21:25:00+00:00,Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,13.004083,69.049767,-1.343192,3,46.000000,63.250000,3,116
4,4,"SLC-41, Cape Canaveral AFS, Florida, USA",2020-07-30 11:50:00+00:00,Atlas V 541 | Perseverance,StatusActive,145.0,Success,5.587707,60.585629,18.021336,4,28.394020,-80.603151,4,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4319,4319,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05 07:33:00+00:00,Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,3.896399,80.668659,-2.862270,56,28.394020,-80.603151,133,238
4320,4320,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01 03:48:00+00:00,Juno I | Explorer 1,StatusRetired,NaN,Success,9.381440,62.834290,29.152743,54,28.394020,-80.603151,136,238
4321,4321,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06 16:44:00+00:00,Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,3.741047,68.667009,6.638781,56,28.394020,-80.603151,133,238
4322,4322,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03 02:30:00+00:00,Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success,9.450476,60.649007,-7.940128,41,46.000000,63.250000,36,116
4323,4323,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04 19:28:00+00:00,Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success,10.642372,51.687880,4.763349,41,46.000000,63.250000,36,116

In [172]:
fact_launches.drop(columns= ['latitude', 'longitude', 'country_id', 'location'], inplace= True)

In [ ]:
# Replace commas in the 'price' column
fact_launches['price'] = fact_launches['price'].str.replace(',', '').astype(float)

In [182]:
fact_launches['date'] = pd.to_datetime(fact_launches['date'])

# Extract the date part (YYYY-MM-DD) from the datetime
fact_launches['date'] = fact_launches['date'].dt.date

In [183]:
fact_launches.to_csv('../datasets/staging/fact_launches.csv', index=False)