In [9]:
import pandas as pd
import requests

In [10]:
missions_df = pd.read_csv('../datasets/mission_launches.csv')
locations_df = pd.read_csv('../datasets/coordinates.csv')

In [11]:
missions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0.1    4324 non-null   int64
 1   Unnamed: 0      4324 non-null   int64
 2   Organisation    4324 non-null   object
 3   Location        4324 non-null   object
 4   Date            4324 non-null   object
 5   Detail          4324 non-null   object
 6   Rocket_Status   4324 non-null   object
 7   Price           964 non-null    object
 8   Mission_Status  4324 non-null   object
dtypes: int64(2), object(7)
memory usage: 304.2+ KB

In [12]:
locations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Location   137 non-null    object
 1   Latitude   137 non-null    float64
 2   Longitude  137 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.3+ KB

In [13]:
countries_df = pd.read_csv('../datasets/country.csv')

In [14]:
missions_df.head()

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success

In [28]:
countries_df[countries_df['id'] == ""]

Empty DataFrame
Columns: [id, value]
Index: []

In [29]:
missions_df['Country'] = missions_df['Location'].apply(lambda x: x.split(',')[-1].strip())

In [56]:
missions_df['Country'] = missions_df['Country'].replace('USA', 'United States')
missions_df['Country'] = missions_df['Country'].replace('New Mexico', 'United States')
missions_df['Country'] = missions_df['Country'].replace('Pacific Missile Range Facility', 'United States')
missions_df['Country'] = missions_df['Country'].replace('Pacific Ocean', 'United States')
missions_df['Country'] = missions_df['Country'].replace('Pacific Ocean', 'United States')
missions_df['Country'] = missions_df['Country'].replace('Barents Sea', 'Russia')
missions_df['Country'] = missions_df['Country'].replace('Gran Canaria', 'Spain')
missions_df['Country'] = missions_df['Country'].replace('Shahrud Missile Test Site', 'Iran')
missions_df['Country'] = missions_df['Country'].replace('Yellow Sea', 'China')

In [57]:
missions_df['Country'].unique()

array(['United States', 'China', 'Kazakhstan', 'Japan', 'Israel',
       'New Zealand', 'Russia', 'Iran', 'France', 'India', 'North Korea',
       'South Korea', 'Brazil', 'Spain', 'Kenya', 'Australia'],
      dtype=object)

In [55]:
print(missions_df[missions_df['Country'] == 'Yellow Sea'])

     Unnamed: 0.1  Unnamed: 0 Organisation                   Location  \
133           133         133         CASC  Tai Rui Barge, Yellow Sea

                           Date                             Detail  \
133  Wed Jun 05, 2019 04:06 UTC  Long March 11H | Jilin-1 & Others

    Rocket_Status Price Mission_Status     Country
133  StatusActive   5.3        Success  Yellow Sea

In [58]:
missions_df['Organisation'].unique()

array(['SpaceX', 'CASC', 'Roscosmos', 'ULA', 'JAXA', 'Northrop', 'ExPace',
       'IAI', 'Rocket Lab', 'Virgin Orbit', 'VKS RF', 'MHI', 'IRGC',
       'Arianespace', 'ISA', 'Blue Origin', 'ISRO', 'Exos', 'ILS',
       'i-Space', 'OneSpace', 'Landspace', 'Eurockot', 'Land Launch',
       'CASIC', 'KCST', 'Sandia', 'Kosmotras', 'Khrunichev', 'Sea Launch',
       'KARI', 'ESA', 'NASA', 'Boeing', 'ISAS', 'SRC', 'MITT', 'Lockheed',
       'AEB', 'Starsem', 'RVSN USSR', 'EER', 'General Dynamics',
       'Martin Marietta', 'Yuzhmash', 'Douglas', 'ASI', 'US Air Force',
       'CNES', 'CECLES', 'RAE', 'UT', 'OKB-586', 'AMBA',
       "Arm??e de l'Air", 'US Navy'], dtype=object)

In [60]:
private_companies = ['SpaceX', 'ULA', 'Northrop', 'Rocket Lab', 'Virgin Orbit', 
                     'Blue Origin', 'Exos', 'ILS', 'i-Space', 'OneSpace', 
                     'Landspace', 'Boeing', 'Lockheed', 'General Dynamics', 
                     'Martin Marietta', 'Douglas']

# Add 'is_private' column to indicate if the company is private
missions_df['is_private'] = missions_df['Organisation'].apply(lambda x: True if x in private_companies else False)

In [61]:
missions_df

,Unnamed: 0.1,Unnamed: 0,Organisation,Location,Date,Detail,Rocket_Status,Price,Mission_Status,Country,is_private
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,United States,True
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,China,False
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,United States,True
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,Kazakhstan,False
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success,United States,True
...,...,...,...,...,...,...,...,...,...,...,...
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,United States,False
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success,United States,False
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,United States,False
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success,Kazakhstan,False
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success,Kazakhstan,False

In [62]:
conflicts_df = pd.read_csv('../datasets/UcdpPrioConflict_v24_1.csv')

In [63]:
conflicts_df.columns

Index(['conflict_id', 'location', 'side_a', 'side_a_id', 'side_a_2nd',
       'side_b', 'side_b_id', 'side_b_2nd', 'incompatibility',
       'territory_name', 'year', 'intensity_level', 'cumulative_intensity',
       'type_of_conflict', 'start_date', 'start_prec', 'start_date2',
       'start_prec2', 'ep_end', 'ep_end_date', 'ep_end_prec', 'gwno_a',
       'gwno_a_2nd', 'gwno_b', 'gwno_b_2nd', 'gwno_loc', 'region', 'version'],
      dtype='object')